# Ignore compiled Java files
*.class

# Ignore IntelliJ IDEA project files
.idea/
*.iml

# Ignore Eclipse project files
.classpath
.project
.settings/

# Ignore log files
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db
